@{
    ViewBag.Title = "Учет типа и качества дорог";
}

<h2>Учет типа и качества дорог</h2>
<button id="createTables" type="button" class="btn">Сформировать таблицы</button>
<button id="save" type="button" class="btn">Сохранить</button>
<h3>Скорость</h3>
<div class="table-responsive">
    <table id="tableSpeed" class="table table-sm  table-bordered table-hover" style="padding:100px 0px">
        <thead class="thead-dark" id="thead"></thead>
        <tbody name="tbody" id="tbody">
            @*<tr><td></td><th>Первый</th><th>Второй</th></tr>
            <tr><th>Первый</th><td>Пусто</td><td>Пусто</td></tr>
            <tr><th>Второй</th><td>Пусто</td><td>Пусто</td></tr>*@
        </tbody>
    </table>
</div>
<h3>Качество дорог</h3>
<div class="table-responsive">
    <table id="tableQuality" class="table table-sm  table-bordered table-hover" style="padding:100px 0px">
        <thead class="thead-dark" id="thead"></thead>
        <tbody name="tbody" id="tbody">
        </tbody>
    </table>
</div>
<h3>Интенсивность движения</h3>
<div class="table-responsive">
    <table id="tablePatency" class="table table-sm  table-bordered table-hover" style="padding:100px 0px">
        <thead class="thead-dark" id="thead"></thead>
        <tbody name="tbody" id="tbody">
        </tbody>
    </table>
</div>
<h3>Стоимость</h3>
<div class="table-responsive">
    <table id="tableСost" class="table table-sm  table-bordered table-hover" style="padding:100px 0px">
        <thead class="thead-dark" id="thead"></thead>
        <tbody name="tbody" id="tbody">
        </tbody>
    </table>
</div>
@Scripts.Render("~/bundles/jquery")
<script>


    //var dataHead = ['Вид', 'Вес', 'Изменить', 'Удалить'];

    //$('.messageClose').on('click', function () {
    //    $('#messageModalLong').modal('hide');
    //    //window.location.reload()
    //})

    //$('.table thead').append('<tr> <th>' + dataHead[0] + '</th> <th>'
    //    + dataHead[1] + '</th> <th>'
    //    + dataHead[2]
    //    + '</th> <th>' + dataHead[3] + '</th> </th>')



    $("#save").on('click', function (e) {

        var tableSpeed = [];
        var tableQuality = [];
        var tablePatency = [];
        var tableСost = [];
        for (var i = 0; i < count; i++) {
            var tableSpeedRow = [];
            var tableQualityRow = [];
            var tablePatencyRow = [];
            var tableСostRow = [];
            for (var j = 0; j < count; j++) {
                tableSpeedRow[j] = $('#tableSpeed tbody')[0].children[i + 1].children[j + 1].children[0].value;
                tableQualityRow[j] = $('#tableQuality tbody')[0].children[i + 1].children[j + 1].children[0].value;
                tablePatencyRow[j] = $('#tablePatency tbody')[0].children[i + 1].children[j + 1].children[0].value;
                tableСostRow[j] = $('#tableСost tbody')[0].children[i + 1].children[j + 1].children[0].value;
            }
            tableSpeed[i] = tableSpeedRow;
            tableQuality[i] = tableQualityRow;
            tablePatency[i] = tablePatencyRow;
            tableСost[i] = tableСostRow;
        }

          $.ajax({
                url: "@Url.Action("CreateTables", "RoadAccounting")",
                type: "POST",
             data: {

                },
                success: function (data) {

             };
                error: function (data) {
                    alert('Error occurred');
                }
            });
        //var tableSpeed = $('#tableSpeed tbody')[0].children[1].children[1].children[0].value;

    });

    $("#createTables").on('click', function (e) {
         $.ajax({
                url: "@Url.Action("CreateTables", "RoadAccounting")",
                type: "POST",
             data: {

                },
                success: function (data) {

             };
                error: function (data) {
                    alert('Error occurred');
                }
            });
    });


    var count;
    $.ajax({
        url: "@Url.Action("GetAddressList", "RoadAccounting")",
        type: "POST",
        data: {
        },
        success: function (data) {
             count = data.length;
            if (data != null)
                var stringTable = '<tr><th></th>';
                for (var i = 0; i < data.length; i++) {
                    stringTable += '<th>' + data[i] +'</th>';
            }
            stringTable += '</tr>';
            //$('.table tbody').append(stringTable);
            $('#tableSpeed tbody').append(stringTable);
            $('#tableQuality tbody').append(stringTable);
            $('#tablePatency tbody').append(stringTable);
            $('#tableСost tbody').append(stringTable);


                    $.ajax({
                    url: "@Url.Action("GetTables", "RoadAccounting")",
                    type: "POST",
                    data: {
                    },
                    success: function (data2) {

                        for (var j = 0; j < data.length; j++) {
                            stringTableSpeed = '<tr><th>' + data[j] + '</th>';
                            stringTableQuality = '<tr><th>' + data[j] + '</th>';
                            stringTablePatency = '<tr><th>' + data[j] + '</th>';
                            stringTableСost = '<tr><th>' + data[j] + '</th>';
                            if (data2 != 0) {
                                for (var i = 0; i < data.length; i++) {
                                    if (i != j) {
                                        stringTableSpeed += '<td> <input name="comment" >' + data2.AverageSpeedTable[i][j] + '</input></td>';
                                        stringTableQuality += '<td> <input name="comment" >' + data2.AverageRoadIntensityTable[i][j] + '</input></td>';
                                        stringTablePatency += '<td> <input name="comment" >' + data2.RoadQualityTable[i][j] + '</input></td>';
                                        stringTableСost += '<td> <input name="comment" >' + data2.RoadQualityTable[i][j] + '</input></td>';
                                    }
                                    else {
                                        stringTableSpeed += '<td></td>';
                                        stringTableQuality += '<td></td>';
                                        stringTablePatency += '<td></td>';
                                        stringTableСost += '<td></td>';
                                    }
                                }
                            }
                            else {
                                for (var i = 0; i < data.length; i++) {
                                    if (i != j) {
                                        stringTableSpeed += '<td> <input name="comment" ></input></td>';
                                        stringTableQuality += '<td> <input name="comment" ></input></td>';
                                        stringTablePatency += '<td> <input name="comment" ></input></td>';
                                        stringTableСost += '<td> <input name="comment" ></input></td>';
                                    }
                                    else {
                                        stringTableSpeed += '<td></td>';
                                        stringTableQuality += '<td></td>';
                                        stringTablePatency += '<td></td>';
                                        stringTableСost += '<td></td>';
                                    }
                                }
                            }
                            stringTableSpeed += '</tr>';
                            stringTableQuality += '</tr>';
                            stringTablePatency += '</tr>';
                            stringTableСost += '</tr>';

                            $('#tableSpeed tbody').append(stringTableSpeed);
                            $('#tableQuality tbody').append(stringTableQuality);
                            $('#tablePatency tbody').append(stringTablePatency);
                            $('#tableСost tbody').append(stringTableСost);
                        }
                    },
                    error: function (data2) {
                        alert('Error occurred');
                    }
                });




        },
        error: function (data) {
            alert('Error occurred');
        }
    });

</script>