@{
    ViewBag.Title = "Поиск маршрутов";
}



<head>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=f4252eab-9ec5-4695-8fed-2d8b3d4c395f&lang=ru_RU" type="text/javascript">

    </script>
</head>

<h2>Поиск маршрутов</h2>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="ConsideringTypeAndQualityOfRoads">
    <label class="form-check-label" for="ConsideringTypeAndQualityOfRoads">
        Учет типа и качества дорог
    </label>
</div>
@*<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="SeparateDeliveryAccounting">
    <label class="form-check-label" for="SeparateDeliveryAccounting">
        Учет раздельной доставки
    </label>
</div>*@
<button id="routeSearch" type="button" class="btn">Поиск</button>
<div id="dataOutput" style="padding-top:20px">
 
</div>

<div class="modal fade" id="messageModalLong" tabindex="-1" role="dialog" aria-labelledby="messageModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLongTitle">Результат</h5>
                <button type="button" class="close messageClose" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="messageForm">
                <div class="modal-body">
                    <p id="message"> </p>
                </div>

                <div class="modal-footer">
                    <button id="messageOk" type="submit" class=" btn btn-primary messageClose" data-dismiss="modal">Ок</button>
                </div>
            </form>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script>
    ymaps.ready(function () {
        $("#routeSearch").on('click', function (e) {
             $.ajax({

                url: "@Url.Action("CheckingForCorrectConnections", "Home")",
                type: "POST",
                data: {



                },
                 success: function (data) {
                     if (data == 0) {


                         $.ajax({

                             url: "@Url.Action("FindingDistancesBetweenCustomersAndDepots", "Home")",
                             type: "POST",
                             data: {



                             },
                             success: function (data) {
                                 let distanceMatrixBetweenCustomersAndDepots = [];
                                 for (var i = 0; i < data.countDepot; i++) {
                                     let auxiliaryMatrix = [];
                                     for (var j = 0; j < data.countCustomer; j++) {
                                         auxiliaryMatrix[j] = ymaps.coordSystem.geo.getDistance([data.CoordinateDepot[i].latitude, data.CoordinateDepot[i].longitude],
                                             [data.CoordinateCustomer[j].latitude, data.CoordinateCustomer[j].longitude]);
                                     }
                                     distanceMatrixBetweenCustomersAndDepots[i] = auxiliaryMatrix;
                                 }


                                 $.ajax({

                                     url: "@Url.Action("FindingMatrixsDistancesBetweenCustomersAndDepots", "Home")",
                                     type: "POST",
                                     data: {
                                         distanceMatrixBetweenCustomersAndDepots: distanceMatrixBetweenCustomersAndDepots
                                     },
                                     success: function (data2) {

                                         let distanceMatrixBetweenCustomersAndDepots = [];

                                         for (var k = 0; k < data2.length; k++) {
                                             let distanceMatrix = [];

                                             for (var i = 0; i < data2[k].Coordinate.length; i++) {
                                                 let auxiliaryMatrix = [];

                                                 for (var j = 0; j < data2[k].Coordinate.length; j++) {
                                                     auxiliaryMatrix[j] = ymaps.coordSystem.geo.getDistance([data2[k].Coordinate[i].latitude, data2[k].Coordinate[i].longitude],
                                                         [data2[k].Coordinate[j].latitude, data2[k].Coordinate[j].longitude]);
                                                 }

                                                 distanceMatrix[i] = auxiliaryMatrix;
                                             }

                                             distanceMatrixBetweenCustomersAndDepots[k] = distanceMatrix;

                                         }

                                             $.ajax({

                                                 url: "@Url.Action("FindingShortestPaths", "Home")",
                                                 type: "POST",
                                                 data: {
                                                     distanceMatrixBetweenCustomersAndDepots: distanceMatrixBetweenCustomersAndDepots
                                                 },
                                                 success: function (data3) {
                                                     //document.getElementById('dataOutput').onclick = function () {
                                                     //    this.innerHTML = '';
                                                     //}
                                                     //document.getElementById("dataOutput").innerHTML =
                                                     //    '<textarea maxlength="5000" readonly="readonly" cols="1000" rows="80">' + data3 + '</textarea>';
                                                     $('#dataOutput').empty();
                                                     //$('#dataOutput').append($('<textarea style="width:300px; height:150px;">' + data3 + '</textarea>'));
                                                     $('#dataOutput').append(' <table id="table" class="table table-sm  table-bordered table-hover" style="padding:100px 0px">'+
                                                         '<thead class="thead-dark" id="thead"></thead>'+
                                                        ' <tbody name="tbody" id="tbody"></tbody> </table>');
                                                    
                                                     $('.table thead').append('<tr> <th style="text-align: center; vertical-align:center;" rowspan="2">Депо</th> <th style="text-align: center; vertical-align:center;" rowspan="2"> '
                                                         + 'Транспортное средство</th> <th  colspan="4" style="text-align: center;">'
                                                         + 'Заказ</th> </tr>' +
                                                         '<tr> <th style="text-align: center;" >Адрес</th> <th style="text-align: center;" > '
                                                         + 'Номер комплекта</th> <th style="text-align: center;">'
                                                         + 'Вид комплекта</th> <th style="text-align: center;">'
                                                         + 'Количество</th></tr>');

                                                     for (var i = 0; i < data3.length; i++) {

                                                         var stringTable = "";
                                                         var countDepotRow=0;

                                                         for (var j = 0; j < data3[i].vehicleOrdersName.length; j++) {
                                                             for (var k = 0; k < data3[i].vehicleOrdersName[j].customersAndKitsName.length; k++) {
                                                                 countDepotRow++;
                                                             }
                                                         }

                                                         stringTable += '<tr> <td style="text-align: center; vertical-align:center;" rowspan="' + countDepotRow + '">' + data3[i].depotName + '</td>';

                                                         stringTable += '<td style="text-align: center; vertical-align:center;" rowspan="' + data3[i].vehicleOrdersName[0].customersAndKitsName.length + '">' + data3[i].vehicleOrdersName[0].VehicleName + '</td>';
                                                         stringTable += '<td style="text-align: center; vertical-align:center;">' + data3[i].vehicleOrdersName[0].customersAndKitsName[0].CustomerName + '</td>';
                                                         stringTable += '<td style="text-align: center; vertical-align:center;">' + data3[i].vehicleOrdersName[0].customersAndKitsName[0].Kit + '</td>';
                                                         stringTable += '<td style="text-align: center; vertical-align:center;">' + data3[i].vehicleOrdersName[0].customersAndKitsName[0].KitName + '</td>';
                                                         stringTable += '<td style="text-align: center; vertical-align:center;">' + data3[i].vehicleOrdersName[0].customersAndKitsName[0].Count + '</td>';
                                                         stringTable += '</tr>';

                                                         $('.table tbody').append(stringTable);
                                                         stringTable = "";

                                                         for (var k = 1; k < data3[i].vehicleOrdersName[0].customersAndKitsName.length; k++) {
                                                             stringTable += '<tr>';
                                                             stringTable += '<td style="text-align: center; vertical-align:center;">' + data3[i].vehicleOrdersName[0].customersAndKitsName[k].CustomerName + '</td>';
                                                             stringTable += '<td style="text-align: center; vertical-align:center;">' + data3[i].vehicleOrdersName[0].customersAndKitsName[k].Kit + '</td>';
                                                             stringTable += '<td style="text-align: center; vertical-align:center;">' + data3[i].vehicleOrdersName[0].customersAndKitsName[k].KitName + '</td>';
                                                             stringTable += '<td style="text-align: center; vertical-align:center;">' + data3[i].vehicleOrdersName[0].customersAndKitsName[k].Count + '</td>';
                                                             stringTable += '</tr>';
                                                         }
                                                         $('.table tbody').append(stringTable);
                                                         stringTable = "";
                                                         for (var j = 1; j < data3[i].vehicleOrdersName.length; j++) {
                                                             stringTable += '<tr>';
                                                             stringTable += '<td style="text-align: center; vertical-align:center;" rowspan="' + data3[i].vehicleOrdersName[j].customersAndKitsName.length + '">' + data3[i].vehicleOrdersName[j].VehicleName + '</td>';
                                                             stringTable += '<td style="text-align: center; vertical-align:center;">' + data3[i].vehicleOrdersName[j].customersAndKitsName[0].CustomerName + '</td>';
                                                             stringTable += '<td style="text-align: center; vertical-align:center;">' + data3[i].vehicleOrdersName[j].customersAndKitsName[0].Kit + '</td>';
                                                             stringTable += '<td style="text-align: center; vertical-align:center;">' + data3[i].vehicleOrdersName[j].customersAndKitsName[0].KitName + '</td>';
                                                             stringTable += '<td style="text-align: center; vertical-align:center;">' + data3[i].vehicleOrdersName[j].customersAndKitsName[0].Count + '</td>';
                                                             stringTable += '</tr>';
                                                             $('.table tbody').append(stringTable);
                                                             stringTable = "";
                                                             for (var k = 1; k < data3[i].vehicleOrdersName[j].customersAndKitsName.length; k++) {
                                                                 stringTable += '<tr>';
                                                                 stringTable += '<td style="text-align: center; vertical-align:center;">' + data3[i].vehicleOrdersName[j].customersAndKitsName[k].CustomerName + '</td>';
                                                                 stringTable += '<td style="text-align: center; vertical-align:center;">' + data3[i].vehicleOrdersName[j].customersAndKitsName[k].Kit + '</td>';
                                                                 stringTable += '<td style="text-align: center; vertical-align:center;">' + data3[i].vehicleOrdersName[j].customersAndKitsName[k].KitName + '</td>';
                                                                 stringTable += '<td style="text-align: center; vertical-align:center;">' + data3[i].vehicleOrdersName[j].customersAndKitsName[k].Count + '</td>';
                                                                 stringTable += '</tr>';
                                                                 $('.table tbody').append(stringTable);
                                                                 stringTable = "";
                                                             }
                                                         }
                                                         $('.table tbody').append(stringTable);
                                                         //for (var j = 0; j < data3.vehicleOrdersName.length; j++) {
                                                            
                                                         //}
                                                     }


                                                 },
                                                 error: function (data3) {
                                                     alert('Error occurred');
                                                 }
                                             });
                                         


                                     },
                                     error: function (data2) {
                                         alert('Error occurred');
                                     }
                                 });
                             },
                             error: function (data) {
                                 alert('Error occurred');
                             }
                         });
                     }
                     else {

                         $('#message').text(data);
                         $('#messageModalLong').modal('show');

                     }
                 },
                 error: function (data) {
                     alert('Error occurred');
                 }
             });
        })
    });

    $.ajax({
        url: "@Url.Action("GetStatesVariables", "Home")",
        type: "POST",
        data: {

        },
        success: function (data) {
            $('#ConsideringTypeAndQualityOfRoads').prop('checked', data.ConsideringTypeAndQualityOfRoads);
            $('#SeparateDeliveryAccounting').prop('checked', data.SeparateDeliveryAccounting);
        },
        error: function (data) {
            alert('Error occurred');
        }
    });


    $("#ConsideringTypeAndQualityOfRoads").on('click', function (e) {
        $.ajax({

            url: "@Url.Action("SetStatesVariables", "Home")",
            type: "POST",
            data: {
                ConsideringTypeAndQualityOfRoads: $('#ConsideringTypeAndQualityOfRoads').is(':checked'),
                SeparateDeliveryAccounting: $('#SeparateDeliveryAccounting').is(':checked')
            },
            success: function (data) {

            },
            error: function (data) {
                alert('Error occurred');
            }
        });
    })

    $("#SeparateDeliveryAccounting").on('click', function (e) {
        $.ajax({

            url: "@Url.Action("SetStatesVariables", "Home")",
            type: "POST",
            data: {
                ConsideringTypeAndQualityOfRoads: $('#ConsideringTypeAndQualityOfRoads').is(':checked'),
                SeparateDeliveryAccounting: $('#SeparateDeliveryAccounting').is(':checked')
            },
            success: function (data) {

            },
            error: function (data) {
                alert('Error occurred');
            }
        });
    })
</script>